@mixin container($max-width: 1250px, $width: 100%) {
    max-width: $max-width;
    width: $width;
    margin: 0 auto;
}

@mixin flex-container($justCont: space-around, $align-items: center) {
    display: flex;
    justify-content: $justCont;
    align-items: $align-items;
}